/* .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  
  .title {
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
   */
   .dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  
  .title {
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
  }
  
  .chart-container {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .chart {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .chart li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label {
    flex: 1;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .bar {
    flex: 5;
    height: 20px;
    background-color: #4286f4;
    border-radius: 3px;
  }
  
  .value {
    flex: 1;
    margin-left: 10px;
    text-align: right;
  }
  